:root {
  /* DEFAULT TEXT SETTINGS */
  --ihc-text-color-default: white;
  --ihc-text-color-primary: black;
  --ihc-text-hover-color: burlywood;
  --ihc-text-font-weight-default: bold;
  /* TEXT SIZE */
  --ihc-text-font-size-m: 20px;
  /* PADDING */
  --ihc-padding-default: 0px;
  --ihc-padding-xs: 5px;
  --ihc-padding-s: 10px;
  --ihc-padding-m: 20px;
  --ihc-padding-l: 30px;
  --ihc-padding-xl: 100px;

  /* Margin */
  --ihc-margin-default: 0px;
  --ihc-margin-m: 20px;
  /* GAP */
  --ihc-Gap-default: 10px;
  --ihc-Gap-s: 20px;
  /*shadow color */
  --ihc-shadow-color: rgb(112, 116, 146);
  /* border radius */
  --ihc-btn-Brd-radius-default: 15px;
  --ihc-height-header: 100px;
  --ihc-height-footer: 40px;
}

main,
section,
ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  justify-content: flex-start;
  gap: var(--ihc-Gap-s);
  min-height: calc(100vh - var(--ihc-height-footer) - var(--ihc-height-header));
  overflow: hidden;
}
section {
  gap: var(--ihc-Gap-s);
}
h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-ul {
  flex-direction: row;
  gap: var(--ihc-Gap-s);
}
#main-ul > li {
  background-color: var(--ihc-text-hover-color);
  border-radius: 15px;
  border: 0px;
}
#main-ul > li > a {
  color: var(--ihc-text-color-primary);
  padding: var(--ihc-padding-s);
  font-weight: var(--ihc-text-font-weight-default);
}
#inigo-logo {
  box-shadow: 0px 0px 25px -4px var(--ihc-shadow-color);
}
.exp-btn {
  padding: var(--ihc-padding-xs) var(--ihc-padding-m);
  background-color: var(--ihc-text-hover-color);
  border-radius: var(--ihc-btn-Brd-radius-default);
  color: var(--ihc-text-color-primary);
  font-weight: bold;
  font-size: 20px;
  border: 0px;
  /* 
  box-shadow: 1px 6px 4px 1px var(--ihc-text-hover-color),
    1px 17px 50px 0 rgba(0, 0, 0, 0.19); */
}
/* sección Experiencia */
.article-div.hide {
  display: none;
}

.article-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--ihc-Gap-s);
}
.Work {
  border-radius: 50%;
}

#map {
  width: 300px;
  height: 300px;
  margin: 20px 80px;
  align-self: end;
}
.map-hiden {
  display: none;
}

.experience-articles {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: var(--ihc-Gap-s);
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.article-text {
  color: var(--ihc-text-hover-color);
  font-weight: bold;
}

.section > p {
  margin: 0px 40px;
  color: var(--ihc-text-hover-color);
}
.section > h2 {
  margin: 0px 40px;
}
.section > h3 {
  margin: 0px 40px;
}
.section-projects {
  flex-direction: column;
  margin: 0px 15px;
}
.projectoe-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--ihc-Gap-default);
}
.projectoe-articles > #project-name {
  width: 100%;
  justify-content: flex-start;
}
.projectoe-articles > p {
  max-width: 220px;
  justify-content: flex-start;
}
#div-projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--ihc-Gap-s);
}
@media (max-width: 1016px) {
  #main-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #main-ul > li {
    place-self: center;
  }
  #main-ul > li:nth-child(7) {
    grid-column: 2;
  }
}
@media (max-width: 875px) {
  .section-projects {
    max-width: 80%;
  }
  .projectoe-articles {
    width: 30%;
  }
  .WorkingPrject {
    height: 160px;
    width: 160px;
  }
  #project-name {
    font-size: 16px;
  }
  #map {
    height: 130px;
    width: 200px;
  }
  .Work {
    height: 80px;
    width: 80px;
  }
  .experience-articles > .article-text {
    font-size: 8px;
    width: 60%;
  }
}

@media (max-width: 680px) {
  .WorkingPrject {
    height: 120px;
    width: 120px;
  }
  #map {
    height: 120px;
    width: 200px;
  }
}
@media (max-width: 562px) {
  #main-ul > li > a {
    font-size: 16px;
  }
  .exp-btn {
    font-size: 18px;
  }
  #main-ul > li {
    place-self: center;
  }
  #footer-div > h3 {
    font-size: 8px;
  }
}

@media (max-width: 492px) {
  #main-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #main-ul > li {
    place-self: center;
  }
  #main-ul > li:nth-child(7) {
    grid-column: 2;
  }
}
@media (max-width: 450px) {
  #map {
    height: 110px;
    width: 200px;
  }
}
@media (max-width: 420px) {
  .WorkingPrject {
    height: 80px;
    width: 80px;
  }
  #project-name {
    font-size: 12px;
  }
  .article-text {
    font-size: 10px;
  }
  #map {
    width: 180px;
    height: 100px;
  }
  #footer-div > h3 {
    font-size: 8px;
  }
}
